body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 720px;
}

#slider-container {
  height: 720px;
  width: 90%;
  text-align: center;
  min-width: 500px;
  max-width: 1024px;
}

#slider-container input[type="radio"] {
  display: none;
}

#slider-container label {
  cursor: pointer;
  text-decoration: none;
}

#slides-memes {
  background: #fff;
  z-index: 1;
  height: 100%;
}

.slide-content {
  width: 100%;
  height: 100%;
}

.slide-image {
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-text {
  width: 75%;
  text-align: left;
}

#content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slide_1:checked ~ #slides-memes .content-block {
  margin-left: 0;
}

#slide_2:checked ~ #slides-memes .content-block {
  margin-left: -100%;
}

#slide_3:checked ~ #slides-memes .content-block {
  margin-left: -200%;
}

#slide_4:checked ~ #slides-memes .content-block {
  margin-left: -300%;
}

#slides-memes .content-block {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 100%;
}

#slides-memes .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#slides-memes .slide_1 {
  background: #00171f;
}

#slides-memes .slide_2 {
  background: #003459;
}

#slides-memes .slide_3 {
  background: #007ea7;
}

#slides-memes .slide_4 {
  background: #00a8e8;
}

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

#controls label:hover {
  opacity: 1;
}

#slide_1:checked ~ #controls label:nth-child(2),
#slide_2:checked ~ #controls label:nth-child(3),
#slide_3:checked ~ #controls label:nth-child(4),
#slide_4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}

#slide_1:checked ~ #controls label:nth-last-child(2),
#slide_2:checked ~ #controls label:nth-last-child(3),
#slide_3:checked ~ #controls label:nth-last-child(4),
#slide_4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#dots {
  margin-top: -6em;
  text-align: right;
}

#dots label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide_1:checked ~ #dots label:nth-child(1),
#slide_2:checked ~ #dots label:nth-child(2),
#slide_3:checked ~ #dots label:nth-child(3),
#slide_4:checked ~ #dots label:nth-child(4) {
  background: #444;
}
